.clearfix::after {
  content: "";
  clear: both;
  display: table; }

canvas {
  border: 1px solid white;
  margin-left: 200px;
  margin-top: 100px; }

.menu ul {
  list-style: none;
  padding: 100px 0 0 100px; }

.menu li {
  float: left;
  margin-right: 100px; }

body {
  margin: 0px;
  padding: 0px; }

.wrapper-sesion {
  background-image: url(../img/background-1.png);
  background-size: cover;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 1024px;
  margin: 0 auto;
  width: 100%; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.box-artist {
  float: left;
  width: 1000px; }

.box-form {
  background: linear-gradient(146deg, rgba(24, 30, 44, 0.9) 14%, rgba(255, 128, 0, 0.5) 100%);
  border-radius: 12px;
  float: right;
  font-weight: bold;
  height: 750px;
  margin: 114px 150px 0px 0px;
  width: 400px; }

form {
  padding: 20px 40px; }

.boxs input {
  padding: 5px 0;
  width: 300px; }

.boxs {
  padding: 12px 0; }

.btn-submit {
  background-color: #FF9900;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  padding: 10px 0;
  width: 304px; }

.title-artist-sesion {
  margin-left: 100PX;
  margin-top: 100px; }

.item-ul {
  list-style: none;
  margin-left: 50px;
  margin-top: 50px; }

.item-artist {
  float: left;
  margin: 0 55px 60px 55px; }

.picture-artist {
  border-radius: 200px;
  height: 170px;
  width: 170px; }

.name-artist {
  font-size: 16px;
  font-weight: bold;
  text-align: center; }

body {
  margin: 0px;
  padding: 0px; }

.wrapper-player {
  background-color: #01061D;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 1024px;
  margin: 0 auto;
  width: 100%; }

.box-iconsPlayer {
  margin-top: 30px; }

.icons-player {
  list-style: none;
  margin-left: 200px; }

.icons-player button {
  float: left; }

.addList {
  margin-right: 628px;
  margin-left: 207px;
  background-color: #01061D;
  border: none; }

#previous {
  margin-left: 0px;
  margin-right: 30px;
  background-color: #01061D;
  border: none; }

#play {
  margin-left: 0px;
  margin-right: 30px;
  background-color: #01061D;
  border: none; }

#next {
  margin-left: 0px;
  margin-right: 600px;
  background-color: #01061D;
  border: none; }

#favorite {
  background-color: #01061D;
  border: none; }

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.modal-content {
  background: linear-gradient(180deg, rgba(255, 128, 0, 0.72) 0%, rgba(0, 76, 255, 0.29) 100%);
  border-radius: 8px;
  height: 300px;
  margin-left: 700px;
  margin-top: 250px;
  padding: 10px 20px;
  position: relative;
  width: 480px; }

.close {
  color: #ffffff;
  float: right;
  font-weight: bold;
  padding: 10px 10px 0 0;
  text-decoration: none; }

.close:hover {
  color: black;
  cursor: pointer;
  text-decoration: none; }

.title-modal {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 40px; }

.select-category {
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 5px 150px; }

.modal-label label {
  font-weight: bold; }

.modal-input {
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  padding: 5px 110px; }

.modal-content button {
  background: linear-gradient(180deg, black 0%, rgba(85, 112, 173, 0.29) 100%);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 149px;
  text-decoration: none; }
