body{
  margin: 0px;
  padding: 0px;
}
.wrapper-sesion{
  background-image: url(../img/background-1.png);
  background-size: cover;
  color: $colorWhite;
  font-family: 'Montserrat', sans-serif;
  height: 1024px;
  margin: 0 auto;
  width: 100%;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
.box-artist{
  float: left;
  width: 1000px;
}
.box-form{
  background: $degradedOne;
  border-radius: 12px;
  float: right;
  font-weight: bold;
  height: 750px;
  margin: 114px 150px 0px 0px;
  width: 400px;
}
form{
  padding: 20px 40px;
}
.boxs input{
  padding: 5px 0;
  width: 300px;
}
.boxs{
  padding: 12px 0;
}
.btn-submit{
  background-color: $backgroundOrage;
  border: none;
  color: $colorWhite;
  font-size: $p;
  font-weight: bold;
  margin-top: 8px;
  padding: 10px 0;
  width: 304px;
}
.title-artist-sesion{
  margin-left: 100PX;
  margin-top: 100px;
}
.item-ul{
  list-style: none;
  margin-left: 50px;
  margin-top: 50px;
}
.item-artist{
  float: left;
  margin: 0 55px 60px 55px;
}
.picture-artist{
  border-radius: 200px;
  height: 170px;
  width: 170px;
}
.name-artist{
  font-size: $p;
  font-weight: bold;
  text-align: center;
}
